In [1]:
from load_team_data import *

In [2]:
boxofficemovies = get_movies('boxofficemojo')
unclean_metamovies = get_movies('metacritic')
metamovies = [movie for movie in unclean_metamovies if type(movie) != list]
metamovies = clean_data(metamovies)

Parsed 3728 movies from 3728 files
Parsed 4767 movies from 4767 files

In [6]:
meta_df = pd.DataFrame(metamovies)

In [8]:
meta_df.columns

Index([            u'complete',             u'director',
                      u'genre',              u'genre_1',
                   u'genre_10',              u'genre_2',
                    u'genre_3',              u'genre_4',
                    u'genre_5',              u'genre_6',
                    u'genre_7',              u'genre_8',
                    u'genre_9',      u'metacritic_page',
                  u'metascore', u'num_critic_reviews_1',
       u'num_critic_reviews_2', u'num_critic_reviews_3',
       u'num_critic_reviews_4',     u'num_user_ratings',
         u'num_user_reviews_1',   u'num_user_reviews_2',
         u'num_user_reviews_3',   u'num_user_reviews_4',
                     u'rating',         u'release_date',
            u'runtime_minutes',               u'studio',
                      u'title', u'unable to retrieve_1',
       u'unable to retrieve_2',           u'user_score',
                       u'year'],
      dtype='object')

In [10]:
meta_df['genre']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
71417    NaN
71418    NaN
71419    NaN
71420    NaN
71421    NaN
71422    NaN
71423    NaN
71424    NaN
71425    NaN
71426    NaN
71427    NaN
71428    NaN
71429    NaN
71430    NaN
71431    NaN
71432    NaN
71433    NaN
71434    NaN
71435    NaN
71436    NaN
71437    NaN
71438    NaN
71439    NaN
71440    NaN
71441    NaN
71442    NaN
71443    NaN
71444    NaN
71445    NaN
71446    NaN
Name: genre, dtype: object